<script type="application/ecmascript" src="/cmdb-user-interface-site.mjs"></script>


<form action="/auth/groups" method="GET">
    <input type="submit" value="Back">
</form>

<br>

<h4>{{group.name}}</h4>

<form action="/auth/groups/{{id}}/editGroup" method="GET">
  <input type="submit" value="Edit">
</form>

<form action="/auth/groups/{{id}}/delete" method="POST">
  <input type="submit" value="Delete">
</form>

<input type="button" value="Delete group via client script" id="b1">
<script type="application/ecmascript">
  removeGroup('#b1', '{{token}}','{{id}}', true)
</script>

<p><b>Description: </b>{{group.description}}</p>
<p><b>Movies total duration: </b>{{group.moviesTotalDuration}} mins</p>
<ul>
    <h4>Movies</h4>
  {{#each group.movies}}
    <li>
      <h3><a href="/movies/find/{{id}}">{{title}}</a></h3> 
      <form action="/auth/groups/{{../id}}/movies/{{id}}" method="POST">
        <input type="submit" value="Remove">
      </form>

      <input type="button" value="Remove movie via client script" id="b{{@index}}">
      <script type="application/ecmascript">
        removeMovieInGroup('#b{{@index}}', '{{../token}}','{{../id}}', '{{id}}')
      </script>
    </li>
  {{/each}}
</ul>

<form action="/auth/groups/{{id}}/movies/addMovie" method="GET">
    <input type="submit" value="Add Movie">
</form>