<script type="application/ecmascript" src="/cmdb-user-interface-site.mjs"></script>

<form action="/auth/home" method="GET">
    <input type="submit" value="Back">
</form>

<h1>{{title}}</h1>

<form action="/auth/groups/newGroup" method="GET">
  <input type="submit" value="Create Group">
</form>



<ul>
  {{#each groups}}
    <li>
      <h2><a href="/auth/groups/{{id}}">{{name}}</a></h2>
      <p><b>Description: </b>{{description}}</p>
      <form action="/auth/groups/{{id}}/delete" method="POST">
        <input type="submit" value="Delete">
      </form>

      <input type="button" value="Delete group via client script" id="b{{@index}}">
      <script type="application/ecmascript">
        removeGroup('#b{{@index}}', '{{../token}}','{{id}}')
      </script>

      
    </li>
  {{/each}}
</ul>
