<form method="GET">
    <input type="button" value="Back" onclick='history.back()'></input>
</form>

<h2>{{title}}</h2>
<p>Movie Id: {{id}}</p>
<p>Description: {{description}}</p>
<p>Duration: {{runtimeMins}} mins </p>
<p>Directors: {{director}}</p>
<p>Actors: {{actors_names}}</p>
<img src="{{image_url}}" width=25% height=25%/>