<form method="GET">
    <input type="button" value="Back" onclick='history.back()'>
</form>

<h2>{{title}}</h2>
<p><b>Movie Id: </b>{{id}}</p>
<p><b>Description: </b>{{description}}</p>
<p><b>Duration: </b>{{runtimeMins}} mins </p>
<p><b>Directors: </b>{{director}}</p>
<p><b>Actors: </b>{{actors_names}}</p>
<img src="{{image_url}}" width=18% height=18%/>