<h2>{{title}}</h2>
<p>Movie Id: {{id}}</p>
<p>Description: {{description}}</p>
<p>Duration: {{runtimeMins}} mins </p>
<p>Directors: {{director}}</p>
<p>Actors: {{actors_names}}</p>
<p>Image_URL: <a href="{{image_url}}">{{image_url}}</a></p>