<section class="regular-box bg-movie">
    <div class="container-fluid">
        <!-- Movie Details Overlap -->
        <div class="row justify-content-center text-white m-5 p-5">
            <!-- Movie Details -->
            <div class="col-4 me-3 mt-5">
                <p class="lead text-overflow-ellipsis-2">
                    <strong><span class="text-warning">Title: </span></strong>{{title}}
                </p>
                <p class="lead">
                    <strong><span class="text-warning">Id: </span></strong>{{id}}
                </p>
                <p class="lead text-overflow-ellipsis-5">
                    <strong><span class="text-warning">Description: </span></strong>{{description}}
                </p>
                <p class="lead">
                    <strong><span class="text-warning">Director: </span></strong>{{director}}
                </p>
                <p class="lead text-overflow-ellipsis-2">
                    <strong><span class="text-warning">Actors: </span></strong>{{actors_names}}
                </p>
                <p class="lead">
                    <strong><span class="text-warning">Duration: </span></strong>{{runtimeMins}} minutes
                </p>
            </div>
            <!-- Movie Image -->
            <div class="col-3 mt-5 py-2">
                <img class="img-fluid border-dark-4" src="{{image_url}}">
            </div>
        </div>
    </div>
</section>