<input type="button" value="Back" onclick='history.back()'>

<h4>{{title}}</h4>
<ul>
  {{#each movies}}
    <li>
      <h3><a href="./movies/find/{{id}}">{{title}}</a></h3>
      <p><b>Rank: </b>{{rank}}</p>
      <p><b>Rating: </b>{{imDbRating}}</p>
    </li>
  {{/each}}
</ul>