<h1>{{title}}</h1>
<ul>
  {{#each movies}}
    <li>
      <h2><a href="./movies/find/{{id}}">{{title}}</a></h2>
      <p>Rank: {{rank}}</p>
      <p>Rating: {{imDbRating}}</p>
    </li>
  {{/each}}
</ul>